<!DOCTYPE html>
{% extends "CRUD/base.html" %}

{% block body_block %}
<h4 style="text-align:center;">Artist Name: <span style="font-weight:bold;">{{ musician_info.first_name }} {{ musician_info.last_name }}</span></h4>
<h4 style="text-align:center;">Instrument: <span style="font-weight:bold;">{{ musician_info.instrument }}</span></h4>
<h4 style="text-align:center;">Artist Rating: <span style="font-weight:bold;">{{ musician_rating_avg.num_stars__avg  }}</span></h4>

<div style="text-align:center;"><a href="{% url 'CRUD:update_musician' musician_id=musician_info.id %}" class="btn btn-success btn-sm">Update</a>

<h3>List of Albums:</h3>
<table class="table table-bordered">
  <tr>
    <th>Album Name</th>
    <th>Release Date</th>
    <th>Rating</th>
    <th>Action</th>
  </tr>
  {% for album in album_list %}
  <tr>
     <td>{{ album.name }}</td>
    <td>{{ album.release_date|date:"M d, Y" }}</td>
    <td>{{ album.num_stars }}</td>

    <td> <a href="{% url 'CRUD:update_album' album_id=album.id %}"><input type="submit" name="submit" value="Update" class="btn btn-success btn-sm"></a>
         <a href="{% url 'CRUD:delete_album' album_id=album.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Delete This Album?')">Delete</a> </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
